@charset "UTF-8";

/* teko-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/teko-v23-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* teko-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Teko';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/teko-v23-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* -------------------------------------------------------------------------------------------------------
    色の指定
*/

:root {
    /* 全般 */
    --background-color: #111;
    --grey: grey;
    --font-color: #fff;
    --section-title-color: #fff;
    --icon-color: #fff;
    --list-border-color: #444;
    --shade-color: rgba(255, 255, 255, 0.1);
    /* ボタン */
    --button-font-color: white;
    --button-bg-color: blue;
    /* ローディング画面 */
    --loading-bg: black;
    --loading-bar: blue;
    /* スライドメニュー */
    --slide-menu-bg-rgb: 30, 30, 30;
    --slide-menu-border-color: #555;
    --slide-menu-bar-color: white;
    /* スライダー */
    --slider-color: white;
    --indicator-hover: rgb(197, 3, 197);
    /* フッター */
    --footer-rgb: 30, 30, 30;
    --footer-hover: 255, 255, 255, 0.1;
}

body.light-theme {
    /* 全般 */
    --background-color: #fff;
    --font-color: #000;
    --section-title-color: #000;
    --icon-color: #333;
    --list-border-color: rgb(198, 196, 196);
    --shade-color: rgba(0, 0, 0, 0.35);
    /* スライドメニュー */
    --slide-menu-bg-rgb: 218, 218, 218;
    --slide-menu-border-color: grey;
    --slide-menu-bar-color: black;
    /* フッター */
    --footer-rgb: 218, 218, 218;
    --footer-hover: 0, 0, 0, 0.05;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 0.875rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    transition: background-color 0.4s ease, color 0.4s ease;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.team-logo {
    width: 200px;
    display: block;
}

.social-link {
    display: flex;
}

.social-link img {
    width: 20px;
}

.social-link a {
    display: flex;
    align-items: center;
    height: 100%;
}

.with-icon::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f08e";
    color: var(--icon-color);
    margin-left: 5px;
    font-size: 0.8em;
}

.section-title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 2rem;
}

.shade {
    box-shadow: 0px 5px 15px 0px var(--shade-color);
}

/* -----------------------------------------------------------------
ローディング画面
*/
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--loading-bg);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease; /* フェードアウト用 */
}

/* ロード完了時に付与するクラス */
#loading.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* ロゴまわり */
.loading-logo {
    text-align: center;
}

.loading-logo img {
    width: 150px;
    margin-bottom: 20px;
    animation: pulse 2s infinite;
}

/* 下のバーのアニメーション */
.loading-bar {
    width: 0%;
    height: 3px;
    background-color: var(--loading-bar);
    margin: 0 auto;
    animation: loading 3s ease forwards;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes loading {
    0% { width: 0%; }
    100% { width: 100%; }
}

/* ----------------------------------------------------------------------------
スクロールアニメーション用
*/
.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-up.active {
    opacity: 1;
    transform: translateY(0);
}


/* ------------------------------------------------------------------
ハンバーガーメニュー
*/

#slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: 9999;
    font-size: 18px;
    background-color: var(--background-color);
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    display: none;
}

#slide-menu.active {
    transform: translateX(0%);
    transition: transform 0.4s ease;
}

#slide-menu .slide-contents {
    display: flex;
    flex-direction: column;
}

#slide-menu .slide-contents li {
    border-bottom: 1px solid var(--slide-menu-border-color);
}

#slide-menu .slide-contents li:hover {
    background-color: color-mix(in srgb, var(--slide-menu-border-color), transparent 80%);
}

#slide-menu .slide-contents li a {
    display: block;
    padding: 10px 20px;
    box-sizing: border-box;
}

#slide-menu .slide-contents li .team-logo {
    width: auto;
    max-height: 40px;
    margin: 0 auto;
}

/* -----------------------------------------------------------------------------------------------------
ヘッダー
*/
#header {
    display: flex;
    width: 100%;
    position: fixed;
    min-height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--background-color);
    border-bottom: 1px solid;
    transition: all 0.4s ease;
}

#header .logo {
    border-right: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo a {
    display: block;
}

/* ナビ */

#header nav {
    display: flex;
    align-items: center;
}

#header nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

#header nav ul li {
    height: 100%;
    font-size: clamp(12px, 1.2vw, 16px);
    white-space: nowrap;
}

#header nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px clamp(5px, 1.5vw, 20px);
}

#header nav ul li a:hover {
    background-color: color-mix(in srgb, var(--grey), transparent 80%);
}

/* テーマスイッチ */

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
}

.theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--icon-color);
    padding: 0 15px;
    transition: transform 0.4s ease;
}

.theme-btn:hover {
    transform: scale(1.2);
}

/* SNSリンク */

#header .social-link {
    display: flex;
    margin-right: 20px;
    flex-shrink: 0;
}

#header .social-link a {
    padding: 0 15px;
}

#header .social-link a:hover {
    background-color: color-mix(in srgb, var(--grey), transparent 80%);
}

#header .social-link img {
    width: 20px;
}

.x-icon-img {
    width: 20px;
    filter: invert(1);
    transition: filter 0.4s ease;
}

body.light-theme .x-icon-img {
    filter: invert(0);
}

/* ----------------------------------------------------------------------------
スライダー
*/

#slider {
    margin-top: 80px;
    position: relative;         /* インジケーター、矢印用 */
}

.slider-content {
    display: grid;
    width: 100%;
    height: 100%;
}

.slide {
    grid-column: 1;
    grid-row: 1;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    object-fit: cover;
    object-position: top center;
    vertical-align: bottom;
}

/* 左右矢印 */

.slider-btn {
    position: absolute;
    color: var(--slider-color);
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.slider-btn::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid var(--slider-color);
    border-right: 2px solid var(--slider-color);
    position: absolute;
    top: 50%;
    left: 50%;
}

#prev-btn {
    left: 20px;
}

#prev-btn::after {
    transform: translate(-50%, -50%) rotate(225deg);
}

#next-btn {
    right: 20px;
}

#next-btn::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* インジケーター */
.slider-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    z-index: 10;
    gap: 40px;
}

.slider-indicators .indicator-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--slider-color);
}

.slider-indicators .indicator-btn:hover {
    background-color: var(--indicator-hover);
    transition: background-color 0.4s ease;
}

/* ------------------------------------------------------------------------
マーキー
*/
.sponsors-slide {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.marquee-content {
    display: flex;
}

.sponsor-list {
    display: flex;
    /* 時間はマーキーリストの長さに応じて調整 */
    animation: scroll-left 30s linear infinite;
}

.sponsor-list li {
    width: 150px;
    margin-right: 40px;
    padding: 10px;
}

.sponsor-list li a {
    display: block;
}

.sponsor-list li img {
    display: block;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* ---------------------------------------------------------------------------
ニュース
*/
#news {
    margin-top: 80px;
    border-bottom: 1px solid;
}

/* ニュースリスト */
.news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.news-item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--list-border-color);
    border-radius: 8px;
}

.news-item:hover {
    cursor: pointer;
}

.news-item.large {
    grid-column: span 2;
}

.news-img-wrap {
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
}

.news-item img {
    width: 100%;
    transition: transform 0.4s ease;
    display: block;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.news-item:hover img {
    transform: scale(1.1);
}

.news-item .date {
    display: block;
    padding: 5px 0;
}

.news-item .news-title {
    color: var(--font-color);
    font-size: 1rem;
}

/* more-news */
.more-news {
    width: 200px;
    line-height: 40px;
    margin: 50px auto;
    text-align: center;
    background-color: var(--button-bg-color);
    transition: all 0.4s ease;
    border-radius: 4px;
}

.more-news:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.more-news a {
    display: block;
    cursor: pointer;
    color: var(--button-font-color);
    transition: all 0.4s ease;
}

.more-news a:hover {
    transform: scale(0.95);
    opacity: 1;
}

/* ----------------------------------------------------------------------------
ピックアップ
*/

#pickup {
    margin-top: 80px;
    margin-bottom: 200px;
}

.pickup-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.pickup-list a {
    overflow: hidden;
    display: block;
    border-radius: 8px;
}

.pickup-list img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: transform 0.4s ease;
    vertical-align: bottom;
}

.pickup-list li:hover img {
    transform: scale(1.1);
}

/* ----------------------------------------------------------------------------
フッター
*/

#footer {
    display: flex;
    background-color: rgb(var(--footer-rgb));
    padding: 50px;
    transition: all 0.4s ease;
}

#footer .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* フッター左側　（ロゴ、リンク） */

#footer .logo-link-wrapper {
    grid-column: 1;
    display: flex;
    align-items: center;
} 

.footer-logo {
    width: calc(100% / 3);
}

.footer-links {
    display: flex;
    width: calc(100% * 2 / 3);
    flex-wrap: wrap;
}

.footer-links li {
    width: 50%;
}

.footer-links li a {
    display: block;
    padding: 8px 0;
    text-align: center;
}

.footer-links li a:hover {
    background-color: rgba(var(--footer-hover));
}

/* フッター右側（SNS、コピーライト） */

#footer .social-copy-wrapper {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

#footer .social-copy-wrapper .social-link a {
    padding: 10px;
}

#footer .social-copy-wrapper .social-link a:hover {
    background-color: rgba(var(--footer-hover));
}

@media screen and (max-width: 768px) {
    /* ---------------------------------------------------------------------------
    スライドメニュー
    */

    #slide-menu {
        display: block;
    }

    /* メニューボタン */
    .menu-btn {
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        padding: 0 20px;
        transition: all 0.4s ease;
    }

    .menu-btn:hover {
        cursor: pointer;
    }

    .menu-btn.active {
        transform: translateX(300px);
        background-color: rgb(var(--slide-menu-bg-rgb),0.9);
    }

    .menu-btn.active:hover {
        background-color: rgb(var(--slide-menu-bg-rgb),0.6);
    }

    .menu-btn span {
        width: 30px;
        height: 2px;
        background-color: var(--slide-menu-bar-color);
        display: block;
        transition: all 0.4s ease;
    }

    .menu-btn.active span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .menu-btn.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.active span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    /* ---------------------------------------------------------------------------
    ヘッダー
    */

    #header {
        justify-content: center;
    }

    #header .logo {
        border-right: none;
    }

    #header nav,
    #header .social-link {
        display: none;
    }

    .theme-switch-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        min-height: 80px;
    }


    /* ---------------------------------------------------------------------------
    ニュース
    */
    .news-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-item.large {
        grid-column: span 2;
    }

    /* ---------------------------------------------------------------------------
    ピックアップ
    */

    .pickup-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ----------------------------------------------------------------------------
    フッター
    */

    #footer .inner {
        grid-template-columns: 1fr;
    }

    /* ソーシャル、コピーライト */

    #footer .social-copy-wrapper {
        grid-column: 1;
        align-items: center;
        padding-top: 40px;
    }
}