@charset "UTF-8";

html {
    font-size: 100%;
}

/* --------------------------------
slider
*/

.slider {
    position: relative;
    overflow: hidden;
    height: 80vh;
}

.nav-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}