@charset "UTF-8";

html {
    font-size: 100%;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/* --------------------------------
header
*/
#header {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
}

#header nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-logo {
    width: 300px;
    border-right: 1px solid;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo {
    /* margin: 0 auto; */
}

.site-logo a {
    display: block;
}

.site-logo img {
    width: 200px;
    display: block;
}

#header ul {
    display: flex;
}

#header li {

}


/* --------------------------------
slider
*/

#slider {
    height: calc(100vh - 240px);
    margin-top: 80px;
}

.slider-content {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-btn {
    position: absolute;
    color: white;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


/* --------------------------------
dummy
*/

.dummy {
    height: 1000px;
}