@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-size: 0.875rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

.social-link {
    display: flex;
}

.social-link img {
    width: 20px;
}

.social-link a {
    display: block;
    margin: 0 10px;
}

/* ------------------------------------------------------------------
ヘッダー
*/
#header {
    display: flex;
    width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid;
}

.logo {
    width: 300px;
    border-right: 1px solid;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo {
    /* margin: 0 auto; */
}

.site-logo a {
    display: block;
}

.site-logo img {
    width: 200px;
    display: block;
}

/* ナビ */

#header .nav {
    display: flex;
    align-items: center;
    /* height: 100%; */
}

#header ul {
    display: flex;
    padding: 0 10px;
}

#header li {
    padding: 0 20px;
}

/* SNSリンク */

#header .social-link {
    /* display: flex; */
    align-items: center;
    /* height: 100%; */
    margin-left: auto;
    margin-right: 20px;
}

#header .social-link a {
    /* display: block; */
    /* margin: 0 10px; */
}

#header .social-link img {
    /* width: 20px; */
}

/* ----------------------------------------------------------------------------
スライダー
*/

#slider {
    height: calc(100vh - 80px);
    margin-top: 80px;
}

.slider-content {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 左右矢印 */

.nav-btn {
    position: absolute;
    color: white;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav-btn::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
}

#prev-btn {
    left: 20px;
}

#prev-btn::after {
    transform: translate(-50%, -50%) rotate(225deg);
}

#next-btn {
    right: 20px;
}

#next-btn::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* インジケーター */
.slider-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    z-index: 10;
    gap: 30px;
}

.slider-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;

}

.slider-indicators button .active {
    
}

/* ------------------------------------------------------------------------
マーキー
*/
.sponsors-slide {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.marquee-content {
    display: flex;
}

.sponsor-list {
    display: flex;
    /* 時間はマーキーリストの長さに応じて調整 */
    animation: scroll-left 30s linear infinite;
}

.sponsor-list li {
    width: 150px;
    margin-right: 40px;
    padding: 10px;
}

.sponsor-list li a {
    display: block;
}

.sponsor-list li img {
    display: block;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* ---------------------------------------------------------------------------
ニュース
*/
#news {
    margin-top: 80px;
    border-bottom: 1px solid;
}

/* 見出し */
#news .section-title {
    margin-bottom: 20px;
}

/* ニュースリスト */
.news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.news-item.large {
    grid-column: span 2;
}

.news-item img {
    width: 100%;
}

/* more-news */
.more-news {
    width: 200px;
    line-height: 40px;
    margin: 50px auto;
    text-align: center;
    background-color: blue;
}

.more-news:hover {
    opacity: 0.5;
}

.more-news a {
    display: block;
    cursor: pointer;
    color: white;
}

/* ----------------------------------------------------------------------------
ピックアップ
*/

#pickup {
    margin-top: 80px;
    margin-bottom: 200px;
}

#pickup .section-title {
    margin-bottom: 20px;
}

.pickup-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.pickup-list img {
    width: 100%;
}

/* ----------------------------------------------------------------------------
フッター
*/

#footer {
    display: flex;
    align-items: center;
    height: 320px;
    background-color: rgb(218, 218, 218);
    padding: 50px 0;
}

#footer .inner {
    display: flex;
    /* align-items: center; */
}

#footer .logo-link-wrapper {
    display: flex;
    align-items: center;
    width: 60%;
} 

.footer-logo img {
    max-width: 100px;
}

.footer-links {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}

.footer-links li {
    width: 50%;
    margin-bottom: 10px;
}

/* ソーシャル、コピーライト */

.social-copy-wrapper {
    width: 40%;
    display: flex;
    /* margin-left: auto; */
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}








@media screen and (max-width: 768px) {

    /* ---------------------------------------------------------------------------
    ヘッダー
    */

    /* ハンバーガーメニュー */

    #header {
        /* justify-content: center; */
    }

    #header .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 0 20px;
    }

    #header .hamburger span {
        width: 30px;
        height: 2px;
        background-color: black;
        display: block;
    }

    #header .logo {
        border-right: none;
        position: absolute;
        left: 0;
    }

    #header nav,
    #header .social-link {
        display: none;
    }


    /* ---------------------------------------------------------------------------
    ニュース
    */
    .news-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-item.large {
        grid-column: span 1;
    }
}