@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-size: 0.875rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.team-logo {
    width: 200px;
    display: block;
}

.social-link {
    display: flex;
}

.social-link img {
    width: 20px;
}

.social-link a {
    display: block;
    margin: 0 10px;
}

/* ------------------------------------------------------------------
ハンバーガーメニュー
*/

#slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: 9999;
    font-size: 18px;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    display: none;
}

#slide-menu.active {
    transform: translateX(0%);
    transition: transform 0.4s ease;
}

#slide-menu .slide-contents {
    display: flex;
    flex-direction: column;

}

#slide-menu .slide-contents li {
    border-bottom: 1px solid grey;
}

#slide-menu .slide-contents li a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#slide-menu .slide-contents li .team-logo {
    width: auto;
    max-height: 40px;
}

/* ------------------------------------------------------------------
ヘッダー
*/
#header {
    display: flex;
    width: 100%;
    position: fixed;
    min-height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid;
}

#header .logo {
    border-right: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo a {
    display: block;
}

/* ナビ */

#header .nav {
    display: flex;
    align-items: center;
}

#header nav ul {
    display: flex;
    padding: 0 20px;
}

#header nav ul li {
    padding: 15px clamp(5px, 1.5vw, 20px);
    font-size: clamp(12px, 1.2vw, 16px);
    white-space: nowrap;
}

/* SNSリンク */

#header .social-link {
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    flex-shrink: 0;
}

#header .social-link a {
    /* display: block; */
    /* margin: 0 10px; */
}

#header .social-link img {
    width: 20px;
}

/* ----------------------------------------------------------------------------
スライダー
*/

#slider {
    margin-top: 80px;
    position: relative;         /* インジケーター、矢印用 */
}

.slider-content {
    display: grid;
    width: 100%;
    height: 100%;
}

.slide {
    grid-column: 1;
    grid-row: 1;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    object-fit: cover;
    object-position: top center;
    vertical-align: bottom;
}

/* 左右矢印 */

.nav-btn {
    position: absolute;
    color: white;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav-btn::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
}

#prev-btn {
    left: 20px;
}

#prev-btn::after {
    transform: translate(-50%, -50%) rotate(225deg);
}

#next-btn {
    right: 20px;
}

#next-btn::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* インジケーター */
.slider-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    z-index: 10;
    gap: 30px;
}

.slider-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;

}

.slider-indicators button .active {
    
}

/* ------------------------------------------------------------------------
マーキー
*/
.sponsors-slide {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.marquee-content {
    display: flex;
}

.sponsor-list {
    display: flex;
    /* 時間はマーキーリストの長さに応じて調整 */
    animation: scroll-left 30s linear infinite;
}

.sponsor-list li {
    width: 150px;
    margin-right: 40px;
    padding: 10px;
}

.sponsor-list li a {
    display: block;
}

.sponsor-list li img {
    display: block;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* ---------------------------------------------------------------------------
ニュース
*/
#news {
    margin-top: 80px;
    border-bottom: 1px solid;
}

/* 見出し */
#news .section-title {
    margin-bottom: 20px;
}

/* ニュースリスト */
.news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.news-item.large {
    grid-column: span 2;
}

.news-item img {
    width: 100%;
}

/* more-news */
.more-news {
    width: 200px;
    line-height: 40px;
    margin: 50px auto;
    text-align: center;
    background-color: blue;
}

.more-news:hover {
    opacity: 0.5;
}

.more-news a {
    display: block;
    cursor: pointer;
    color: white;
}

/* ----------------------------------------------------------------------------
ピックアップ
*/

#pickup {
    margin-top: 80px;
    margin-bottom: 200px;
}

#pickup .section-title {
    margin-bottom: 20px;
}

.pickup-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.pickup-list img {
    width: 100%;
}

/* ----------------------------------------------------------------------------
フッター
*/

#footer {
    display: flex;
    background-color: rgb(218, 218, 218);
    padding: 50px;
}

#footer .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* フッター左側　（ロゴ、リンク） */

#footer .logo-link-wrapper {
    grid-column: 1;
    display: flex;
    align-items: center;
} 

.footer-logo {
    width: calc(100% / 3);
}

.footer-logo img {
    /* max-width: 100px; */
}

.footer-links {
    display: flex;
    width: calc(100% * 2 / 3);
    flex-wrap: wrap;
}

.footer-links li {
    width: 50%;
    margin-bottom: 10px;
}

/* フッター右側（SNS、コピーライト） */

#footer .social-copy-wrapper {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}


@media screen and (max-width: 768px) {

    .wrapper {
        margin: 0 20px;
    }

    /* ---------------------------------------------------------------------------
    スライドメニュー
    */

    #slide-menu {
        display: block;
    }

    /* メニューボタン */
    .menu-btn {
        min-height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        padding: 0 20px;
        transition: all 0.4s ease;
    }

    .menu-btn.active {
        transform: translateX(300px);
        background-color: rgb(201, 201, 201, 0.9);
        transition: all 0.4s ease;
    }

    .menu-btn span {
        width: 30px;
        height: 2px;
        background-color: black;
        display: block;
    }

    .menu-btn.active span:nth-child(1) {
        transform: rotate(45deg);
    }

    .menu-btn.active span:nth-child(2) {
        display: none;
        /* opacity: 0; */
    }

    .menu-btn.active span:nth-child(3) {
        transform: rotate(-45deg);
    }

    /* ---------------------------------------------------------------------------
    ヘッダー
    */

    #header {
        justify-content: center;
    }

    #header .logo {
        border-right: none;
    }

    #header nav,
    #header .social-link {
        display: none;
    }


    /* ---------------------------------------------------------------------------
    ニュース
    */
    .news-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .news-item.large {
        grid-column: span 2;
    }

    /* ---------------------------------------------------------------------------
    ピックアップ
    */

    .pickup-list {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ----------------------------------------------------------------------------
    フッター
    */

    #footer .inner {
        grid-template-columns: 1fr;
    }

    .footer-links li {
        
    }

    /* ソーシャル、コピーライト */

    #footer .social-copy-wrapper {
        grid-column: 1;
        align-items: center;
        padding-top: 40px;
    }
}