@charset "UTF-8";

html {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* --------------------------------
ヘッダー
*/
#header {
    display: flex;
    width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid;
}

.logo {
    width: 300px;
    border-right: 1px solid;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-logo {
    /* margin: 0 auto; */
}

.site-logo a {
    display: block;
}

.site-logo img {
    width: 200px;
    display: block;
}

/* ナビ */

#header .nav {
    display: flex;
    align-items: center;
    /* height: 100%; */
}

#header ul {
    display: flex;
    padding: 0 10px;
}

#header li {
    padding: 0 20px;
}

/* SNSリンク */

.social-link {
    display: flex;
    align-items: center;
    /* height: 100%; */
    margin-left: auto;
    margin-right: 20px;
}

.social-link a {
    display: block;
    margin: 0 10px;
}

.social-link img {
    width: 20px;
}

/* --------------------------------
スライダー
*/

#slider {
    height: calc(100vh - 80px);
    margin-top: 80px;
}

.slider-content {
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 左右矢印 */

.nav-btn {
    position: absolute;
    color: white;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav-btn::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
}

#prev-btn {
    left: 20px;
}

#prev-btn::after {
    transform: translate(-50%, -50%) rotate(225deg);
}

#next-btn {
    right: 20px;
}

#next-btn::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* インジケーター */
.slider-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    z-index: 10;
    gap: 30px;
}

.slider-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;

}

.slider-indicators button .active {
    
}

/* --------------------------------
マーキー
*/
.marquee {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid;
}

.marquee-content {
    display: flex;
}

.marquee-list {
    display: flex;
    /* 時間はマーキーリストの長さに応じて調整 */
    animation: scroll-left 30s linear infinite;
}

.marquee-list li {
    width: 150px;
    margin-right: 40px;
    padding: 10px;
}

.marquee-list li a {
    display: block;
}

.marquee-list li img {
    display: block;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* --------------------------------
ダミー
*/

.dummy {
    height: 1000px;
}